.guess-text {
  display: grid;
  justify-items: center;
}

.guess-text p {
  max-width: 60%;
  text-align: center;
}

:deep(.accent) {
  color: var(--accent);
  font-weight: bold;
}

.guess-view button {
  display: grid;
  grid: auto / auto auto;
  font-size: 30px;
  justify-self: center;
  column-gap: 10px;
}

.guess-view button img {
  width: 36px;
}

.next span {
  align-self: center;
  font-size: 30px;
}

.next button:hover > span{
  color: var(--accent);
}

@media only screen and (max-width: 500px) {
  .guess-text p {
    max-width: 80%;
  }
}